{% extends "base.html" %}
{% block maincontainerclass %}container-fluid{% endblock %}
{% block breadcrumbclass %}container-fluid{% endblock %}
{% block mainnavclass %}container-fluid{% endblock %}
{% block navbarclass %}container-fluid{% endblock %}

{% block basecontent %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                {% block sidebar %}

                {% endblock %}
            </div><!--/.well -->
        </div><!--/span-->
        {% block content %}

        {% endblock %}
    </div><!--/row-->
</div>
{% endblock %}
